@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Modal CSS */
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #121314;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}